* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url("../assets/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("../assets/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

:root {
  --bg-color: #f0f0f0;
  --secondary-bg-color: #ffffff;
  --submit-btn: #151515;
  --label-color: #7a7a7a;
  --accent-color: #864cff;
  --error-message: #d1555f;
}

body {
  background: var(--bg-color);
}

.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: 0 2rem;
}

.app-wrapper {
  background: var(--secondary-bg-color);
  width: 100%;
  max-width: 800px;
  align-self: center;
  padding: 4rem;
  overflow: hidden;
  border-radius: 25px 25px 30% 25px;
}

.ageForm {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container {
  display: flex;
  gap: 2rem;
}

label {
  display: block;
  font-weight: bold;
  font-family: "Poppins-Bold", sans-serif;
  text-transform: uppercase;
  color: var(--label-color);
}

.error-label {
  color: var(--error-message);
}

.error-message {
  color: var(--error-message);
  font-family: "Poppins-regular", sans-serif;
}

.error-input {
  color: var(--error-message);
  border: 1px solid var(--error-message);
}

input[type="text"] {
  width: 150px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins-Bold", sans-serif;
  margin-bottom: 2rem;
}

.submit {
  background: var(--accent-color);
  border-radius: 100%;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.submit:focus,
.submit:hover,
.submit:active {
  background: var(--submit-btn);
}

.result {
  margin-top: 20px;
  font-size: 5rem;
  font-family: "Poppins-BoldItalic", sans-serif;
  line-height: 1.1;
}

#result-year,
#result-month,
#result-day {
  color: var(--accent-color);
}

.btn-container {
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}

.horizontal-rule-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: -1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .app-wrapper {
    padding: 2rem 1rem;
  }

  .input-container {
    gap: 1rem;
  }

  input[type="text"] {
    width: 100%;
    font-size: 2rem;
  }

  .btn-container {
    justify-content: center;
    margin: 2rem 0;
  }

  .result {
    font-size: 4rem;
  }
}
